.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #14213D;
    padding: 10px 40px;
    .logo {
        font-weight: bold;
        color: white;

    }

    .social-wrapper {
        display: flex;

    }

    .icon-wrapper {
        background-color: white;
        padding: 10px;
        border-radius: 40px;
        margin: 0px 10px;
        

        .icon-medsos {
            width: 20px;
            height: 20px;
        }
    }
}
.copyright{
    background-color: #000000;
    padding: 10px 0px;

    p{
        font-size: 14px;
        color: white;
        text-align: center;
        margin: 0px;
    }
}