.button{
    padding: 12px;
    font-size: 15px;
    background-color: #87c73c;
    border-radius: 13px;
    width: 100%;
    border: none;
    text-transform: uppercase; 
    letter-spacing: 1px;
    cursor: pointer;
    color: whitesmoke;
}
.button:hover{
    background-color: #79b336;
}
